<div class="card m-3">
  <h5 class="card-header text-center">Angular 8 Reactive (model driven) Form Validation</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label>Title</label>
          <select formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="hasError('title')">
            <small class="text-danger" *ngIf="f.title.errors.required">Title is required</small>
          </div>
        </div>
        <div class="form-group col-5">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': isValid('firstName')}" />
          <div *ngIf="hasError('firstName')" class="text-danger">
            <small *ngIf="f.firstName.errors.required">First Name is required</small>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': isValid('lastName')}" />
          <div *ngIf="hasError('lastName')" class="text-danger">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isValid('email')}" />
        <div *ngIf="hasError('email')" class="text-danger">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': isValid('password')}" />
          <div *ngIf="hasError('password')" class="text-danger">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            [ngClass]="{ 'is-invalid': isValid('confirmPassword')}" />
          <div *ngIf="hasError('confirmPassword')" class="text-danger">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <h4 class="text-muted">Address</h4>
        <div class="form-row">
          <div class="form-group col">
            <label>
              Street:
              <input type="text" formControlName="street" class="form-control">
            </label>
          </div>
          <div class="form-group col">
            <label>
              City:
              <input type="text" formControlName="city" class="form-control">
            </label>
          </div>
          <div class="form-group col">

            <label>
              State:
              <input type="text" formControlName="state" class="form-control">
            </label>
          </div>
          <div class="form-group col">
            <label>
              Zip Code:
              <input type="text" formControlName="zip" class="form-control">
            </label>
            <small class="text-danger" class="form-text" required *ngIf="zip?.invalid">zip code is required!</small>
          </div>
        </div>
      </div>
      <div formArrayName="aliases" class="form-group">
        <h3>Aliases</h3> <button class="btn btn-warning" type="button" (click)="addAlias()">Add Alias</button>

        <div *ngFor="let address of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label>
            Alias {{i}}:
            <input class="form-control" type="text" [formControlName]="i">
          </label>
        </div>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="accept" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">Accept terms and conditions</label>
        <div *ngIf="submitted && f.acceptTerms?.errors" class="text-danger">Accept Ts & Cs is required</div>
      </div>

      <!-- ########## OPTION 1 ############## -->
      <div class="form-row">
        <div formArrayName="skillsArray" 
            *ngFor="let skillControl of registerForm.controls.skillsArray.controls; let i = index">
          <label>
            <input type="checkbox"  [formControlName]="i">
            {{skillsData[i].name}}</label>
        </div>
       
      </div>
      <div class="text-danger" *ngIf="f.skillsArray.errors"> 
        <small *ngIf="f.skillsArray.errors?.required">
          you are required to select at least {{f.skillsArray.errors?.required.min}} skills
      </small> 
    </div>

    <label *ngFor="let gender of genderData;">
      <input formControlName="gender" type="radio" name="gender" [value]="gender.name" />
      {{gender.name}}
    </label>

      <!-- ########## OPTION 2 ############# -->
      <!-- <div class="form-row">
        {{skillsData | json}}
        <div formArrayName="skillsArray" *ngFor="let skill of skillsData; let i = index">
            <input type="checkbox" [id]="skill.id"  [formControl]="f.skillsArray.controls[i]">
            <label [for]="skill.id">
              {{skill.name}}</label>
        </div>
      </div> -->


  <!-- </div> -->

  <div class="text-center">
    <button type="submit" class="btn btn-primary mr-1">Register</button>
    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
  </div>
  </form>
</div>
</div>